<a href="https://colab.research.google.com/github/tony-kr/Scaler-Classes/blob/main/DSA/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Homework question solution

n = 5
for i in range(n):
    for j in range(n):
        print(max(i, j, n-1-i, n-1-j)+1, end=" ")
    
    print(end="\n")

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

Bubble Sort

In [ ]:
def bubble_sort(a):
    for i in range(len(a)):
        for j in range(i, len(a)-1):
            if a[j] > a[j+1]:
                a[j], a[j+1] = a[j+1], a[j]
                
    return a

In [ ]:
a = [5,8,45,1,3,9,2]

In [ ]:
bubble_sort(a)

[5, 1, 3, 2, 8, 9, 45]

In [ ]:
def optimised_bubble_sort(a):
    counter = 0
    
    for i in range(len(a)-1):
        is_sorted = True
        
        for j in range(len(a)-i-1):
            counter += 1
            
            if a[j] > a[j+1]:
                a[j], a[j+1] = a[j+1], a[j]
                is_sorted = False
                
        if is_sorted == True:
            break
                
    print(counter)
    return a

In [ ]:
optimised_bubble_sort(a)

15

[1, 2, 3, 5, 8, 9, 45]

Selection Sort

In [7]:
def selection_sort(a):
    for i in range(len(a)-1):
        min_index = i
        
        print(a)
        print("-"*50)
        
        for j in range(i+1, len(a)):
            if a[min_index] > a[j]:
                min_index = j
                
        if min_index != i:
            a[i], a[min_index] = a[min_index], a[i]
            
    return a

In [8]:
selection_sort(a)

[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9, 45]
--------------------------------------------------

[1, 2, 3, 5, 8, 9, 45]

Insertion sort

In [9]:
def insertion_sort(a):
    for i in range(1, len(a)):
        index_to_insert = i
        j = i - 1
        
        print(a[:index_to_insert], "|", a[index_to_insert:])
        print("-"*50)
        
        while j >= 0:
            if a[j] < a[index_to_insert]:
                break
            
            a[j], a[index_to_insert] = a[index_to_insert], a[j]
            index_to_insert = j
            j -= 1
            
    
    return a

In [10]:
insertion_sort(a)

[1] | [2, 3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2] | [3, 5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3] | [5, 8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5] | [8, 9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8] | [9, 45]
--------------------------------------------------
[1, 2, 3, 5, 8, 9] | [45]
--------------------------------------------------

[1, 2, 3, 5, 8, 9, 45]