<a href="https://colab.research.google.com/github/tony-kr/Scaler-Classes/blob/main/DSA/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Homework question solution

n = 5
for i in range(n):
    for j in range(n):
        print(max(i, j, n-1-i, n-1-j)+1, end=" ")
    
    print(end="\n")

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [2]:
def bubble_sort(a):
    for i in range(len(a)):
        for j in range(i, len(a)-1):
            if a[j] > a[j+1]:
                a[j], a[j+1] = a[j+1], a[j]
                
    return a

In [3]:
a = [5,8,45,1,3,9,2]

In [4]:
bubble_sort(a)

[5, 1, 3, 2, 8, 9, 45]

In [5]:
def optimised_bubble_sort(a):
    counter = 0
    
    for i in range(len(a)-1):
        is_sorted = True
        
        for j in range(len(a)-i-1):
            counter += 1
            
            if a[j] > a[j+1]:
                a[j], a[j+1] = a[j+1], a[j]
                is_sorted = False
                
        if is_sorted == True:
            break
                
    print(counter)
    return a

In [6]:
optimised_bubble_sort(a)

15

[1, 2, 3, 5, 8, 9, 45]